/*add text to the bottom of each img in engineering using CSS, replace with JS later*/
.row .imageWrapper {
   display: inline-block;
   margin: 10px;
   width: 30%;
   height: same-as-width;
   top: 0;
   position: relative;

}
.row .imageWrapper img {
   display: inline;
   left: 0;
   right: 0;
   width: 0;
   bottom: 0;
   width: 100%;
   height: same-as-width;
}
.row .imageWrapper .text {
   display: inline;
   left: 0; right: 0;
   top: -19; bottom: 0;
   width: 100%;
   height: same-as-width;
   opacity: 0;
   position: absolute;
   color: #ffffff;
   background: #000000;
   text-decoration: none;
   text-align: center;
   vertical-align: middle;
   line-height: 400px;
   -webkit-transition: opacity 500ms;
   -moz-transition: opacity 500ms;
   -o-transition: opacity 500ms;
   transition: opacity 500ms;

}
.row .imageWrapper:hover .text {
    opacity: 0.8;
}