body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
}


 /*nav bar CSS*/
.titlebar {
  margin-top: 50px;
  margin-bottom:0;
  width: 70%;
  margin-left: auto;
  margin-right: auto;  
}


.name ul {
  margin-left: 0;
  padding-left: 0;
}
.name h1 {
  font-family: 'Raleway', Serif;
  color: #A8F2F7;
  margin-left: 0;
  font-size: 30px;
  text-align: left;


}

.nav ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
.nav li {
  display: inline-block;
  font-family: 'Georgia', Serif;
  font-size: 20px;
  margin: auto;
  text-align: center;
  height: 10px;
  float: right;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #000000;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  color: #A8F2F7;
}
 
.nav a.active {
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 100px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}

div.cover {
  width: 70%;
  margin-left: auto;
  margin-right: auto;  
}

.row {
  position: relative;
  display: table;
  width: 100%;
  height: 20%;
}

